#archivespostaccordion {	margin:0; padding:0; font-size:12px; font-weight:normal; text-transform: none;} 
#archivespostaccordion a { border-bottom:0;text-decoration:none}
#archivespostaccordion .ik-panel-tab-title-head{ color:#fff; font-weight:bold; margin-bottom:2px; font-size: 15px; padding:8px 13px;} 
#archivespostaccordion .wp-load-icon { display:none; margin-left:10px; width:10px; height:10px; background-color:#fff; } 
#archivespostaccordion .item-panel-list{ background: none; padding:0; margin:0px 0px 2px 0px; color:#424242; border: 1px solid #ebebeb;	  }
#archivespostaccordion .item-posts { background: #F7F7F7; }   
#archivespostaccordion .panel-item{ cursor:pointer; background: #F1F1F1; padding:0px 25px 0px 13px;font-weight:normal; font-size: 12px;  border-left:1px solid #696969;  }
#archivespostaccordion .panel-item{  	position: relative;	-webkit-transition: all 0.4s;overflow: hidden;transition: all 0.4s; -moz-transition: all 0.4s;}   
#archivespostaccordion .ik-post-category {   padding:10px 3px; }
#archivespostaccordion .ik-post-category span{ float:left; width:20px; height:20px}  
#archivespostaccordion .ik-post-item { float:left;padding:5px 0 0 0; margin:0 0.5%}
#archivespostaccordion .ik-post-item p { margin:0; padding:0}
#archivespostaccordion .ik-post-load-more{ cursor:pointer;  text-align:center; padding:10px 5px 5px; text-align:center; 	font-size: 12px;font-weight:bold; clear:both; padding-bottom: 10px;	position: relative;	-webkit-transition: all 0.8s;overflow: hidden;transition: all 0.8s; 	-moz-transition: all 0.8s; }
#archivespostaccordion .ik-post-load-more:before {	content:url("../images/ac_bottom.png");	height: 100%; -webkit-transition: all 0.8s;-moz-transition: all 0.8s; position: absolute; top:55%; left: 49%; 	transition: all 0.8s; }
#archivespostaccordion .ik-post-load-more:hover:before {top: 1%;} 
#archivespostaccordion .ik-post-load-more:hover { color:#0e83cd !important; }
#archivespostaccordion  .ik-post-content .ik-post-name { margin-top:5px; font-size: 12px; word-wrap:break-word}
#archivespostaccordion  .ik-post-content .ik-post-name a { text-decoration:none; border:0; word-wrap:break-word;font-weight: normal;}
#archivespostaccordion  .ik-post-content .ik-post-name a:hover{ transition: all 0.5s ease-out 0.7s; color:#ccc;font-weight: normal; }
#archivespostaccordion  .ik-post-image img { width:100%} 
#archivespostaccordion  .ik-post-no-items { padding:10px 10px 10px 4px; font-size:13px }
#archivespostaccordion .panel-item{ clear:both; position:relative}
#archivespostaccordion  .panel-item-text {   float:left; min-height:18px;margin: 8px 0;}
#archivespostaccordion  .ld-panel-item-text  { width:22px; height:22px; right:0%;  position:absolute; top:9px }
#archivespostaccordion  .ik-load-content-cnt { width:20px; height:20px; -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);	-moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);   margin-top:0px; padding:1px; display:block;  background-color:#f7f7f7; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;    }
#archivespostaccordion  .ik-load-content { width:20px; height:20px; }
#archivespostaccordion  .ik-load-content-more { padding:10px;  transition: all 0.4s ease 0s; }
#archivespostaccordion  .ik-load-content-more:hover { color:#fff !important; }
#archivespostaccordion  .clr, #archivespostaccordion  .clrb { clear:both}
#archivespostaccordion  .ik-post-image { position :relative; }
#archivespostaccordion div.ov-layer  .ik-overlay-post-content  { margin-top:0px;color:#000;background:#fff; padding:5px; border-bottom:1px solid #fff;border-top:1px solid #fff; }
#archivespostaccordion div.ov-layer  .ik-overlay-post-content .ik-post-name {line-height:16px;text-decoration:none;}
#archivespostaccordion div.ov-layer  .ik-overlay-post-content .ik-post-name a {  border:0; text-decoration:none; position:relative } 
#archivespostaccordion div.ov-layer {display:block; visibility:hidden;position:relative; top:40px; left:0;-webkit-transition: -webkit-transform 1s;   position: absolute; -o-transition-duration: 1s; 	width:  100%; -moz-transition-duration: 1s;  -webkit-transition: -webkit-transform 1s; z-index: 10; cursor: pointer; height: 100%;  background:url(../images/view.png) right bottom no-repeat #000; opacity: 0; color:#fff; font-size:13px;} 
#archivespostaccordion div.ov-layer:hover {box-shadow: 0px 0px 3px #000;-moz-transition-duration: 1s; -webkit-transition: -webkit-transform 1s; -o-transition-duration: 1s; -webkit-box-shadow: 0px 0px 3px #333; -moz-box-shadow: 0px 0px 3px #333; opacity: .6;}  
#archivespostaccordion button { margin:0px; padding:0px; float:none;}
#archivespostaccordion .btn-crt, #archivespostaccordion #btnSearch { padding:0px; margin:0px; border:0px; background: #EBEBEB !important; color: #464646; padding:3px 8px; font-size:11px; width:100% }
#archivespostaccordion .btn-crt { margin:5px 0; font-style:normal; cursor:pointer;font-weight: normal;position: relative;	-webkit-transition: all 0.8s;overflow: hidden;transition: all 0.8s; -moz-transition: all 0.8s; -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 3px #DBDBDB;  } 
#archivespostaccordion .btn-crt:hover{ color:#0e83cd !important; }
#archivespostaccordion .btn-crt:before { height: 100%; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; position: absolute;	top:20%; left: 125%; transition: all 0.8s; }
#archivespostaccordion .bt-cart:before {	content:url("../images/cart.png"); }	
#archivespostaccordion .post_wc_view:before {	content:url("../images/view-more.png"); }	
#archivespostaccordion .btn-crt:hover:before { left: 88%; }
#archivespostaccordion .item-posts{ padding:0 10px 0px 10px; background-color:#fff}
#archivespostaccordion  .pn-active, #archivespostaccordion  .pn-active-bg{ background-color:#EDEDED;   }  
.pane_style_1  .panel-item{ border-left:0 !important; }

/* Pane Style 2 Start */
.pane_style_2 .item-panel-list, .pane_style_2 .ik-panel-tab-title-head {	border: 1px solid #e7e7e7;  border-radius: 0px; }
.pane_style_2 .panel-item{ -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); } 
 /*Pane Style 2 End */

 /* Pane Style 3 Start */ 
.pane_style_3 .item-panel-list, .pane_style_3 .ik-panel-tab-title-head{ border:0!important;-webkit-border-radius:18px;-moz-border-radius:18px;border-radius:18px; 	 }
.pane_style_3 .panel-item{-webkit-border-radius:18px; border:1px solid #B0B0B0 !important;	-moz-border-radius:18px;-webkit-border-radius:18px;	border-radius:18px;  }  
/* Pane Style 3 End */  

/* Pane Style 4 Start */  
.panel-item:hover,
.panel-item:active { background: #EDEDED !important;}   
.panel-item:before { content:url('../images/right-icon.png'); height: 100%;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;position: absolute; top: 11px;	left: 120%;	transition: all 0.4s;}
.panel-item:hover:before { left: 93%; }
.pane_style_4 .panel-item-text {   float:left; min-height:18px; background-image: url("../images/ac_open.png"); background-position: left center;
background-repeat: no-repeat; padding-left:22px}
.pane_style_4 .pn-active .panel-item-text {   float:left; min-height:18px; background-image: url("../images/ac_close.png"); background-position: left center;
background-repeat: no-repeat; padding-left:22px}
/* Pane Style 4 End */  

/* Pane Style 5 Start */  
.pane_style_5 .panel-item-text {   float:left; min-height:18px; background-image: url("../images/ac2_open.png"); background-position: left center;
background-repeat: no-repeat; padding-left:22px}
.pane_style_5 .pn-active .panel-item-text {   float:left; min-height:18px; background-image: url("../images/ac2_close.png"); background-position: left center; background-repeat: no-repeat; padding-left:22px}
.pane_style_5  .panel-item { padding: 20px; border-radius:4px; border-left:0 !important }
.pane_style_5  .panel-item-text { margin: 17px 0px !important; }
.pane_style_5  .ik-panel-tab-title-head { padding: 17px 13px !important; border-radius:4px; }
.pane_style_5  .item-panel-list {  border-radius:4px; }
.pane_style_5  .panel-item::before { top:18px !important }
.pane_style_5 .ld-panel-item-text { top:16px !important }
/* Pane Style 5 End */  

/* Tab Style 2 Start */
.tab_style_2 .item-panel-list, .tab_style_2 .ik-panel-tab-title-head { border: 1px solid #e7e7e7; -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);	box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);	border-radius: 0px; }
.tab_style_2 .panel-item { -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); } 
/* Tab Style 2 End */
/* Tab Style 3 Start */
.tab_style_3 .item-panel-list,.tab_style_3 .ik-panel-tab-title-head{	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; border: 1px solid #e7e7e7; -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); }
.tab_style_3 .panel-item { -webkit-border-radius:4px; -moz-border-radius:4px;	border-radius:4px; -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);	-moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); border-left:2px solid #696969;}
.tab_style_3 .pn-active { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;} 
/* Tab Style 3 End */ 

.disp_title_over_img .ik-post-item { min-height:auto !important }
#archivespostaccordion .lt-tab .item-panel-list { width:auto; float:left;	margin-right:2px;}
#archivespostaccordion .lt-tab .item-panel-list .ik-load-content{ margin-left:5px;}
 
#archivespostaccordion .post { margin:0 !important; padding:0 !important;border:0 !important}
 

@media only screen and (max-width: 1280px) { #archivespostaccordion .ik-post-item { width: 20%; } }
@media only screen and (max-width: 1024px) { #archivespostaccordion .ik-post-item { width: 25%; } }
@media only screen and (max-width: 768px) { #archivespostaccordion .ik-panel-tab-title-head  { font-size:12px} }
@media only screen and (max-width: 640px) {	#archivespostaccordion .ik-post-item { width: 33%; } }
@media only screen and (max-width: 480px) {	#archivespostaccordion .ik-post-item { width: 50%; } }   